# Java
*.class
*.jar
*.war
*.ear
target/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
.env.local
.env.*.local

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Maven
.mvn/
mvnw
mvnw.cmd

# Vue
neps/dist/
nepm/dist/
nepg/dist/
nepv/dist/

# npm
.npm-cache/
.npmrc
